<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fa-migrarprospectos-prod.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2f0cb6d9-18e7-4f8a-a76a-92aeba331891/resourcegroups/Everest_Prod/providers/Microsoft.Web/sites/fa-migrarprospectos-prod</ResourceId>
    <PublishUrl>https://fa-migrarprospectos-prod.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>